$def with (content)

<html>
<head>
    <title>Gothons From Planet Percal #25</title>
</head>
<body style="background-color:#D8D8D8">
    <a href="/save" style="float:right">Save</a>
    <div id="leftthing" style="background-color:#404040 ;width:25%;height:100%;float:left;">
    <a href="/signin"><big>signin</big></a></br>
    <a href="/signup"><big>signup</big></a>
    </div>

    <div id="contentholder" style="width:85%;height:100%;float:center;background-color:#780000 ;text-align:center">
            
        <h1>This is content displayed with content</h1>
        $:content
        </br>
        <a href="/just_help" style="float:right;">Click here for help</a>
    </div>

</body>
</html>
